[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SemiCompRisks"]
	path = SemiCompRisks
	url = https://github.com/cran/SemiCompRisks
[submodule "mBvs"]
	path = mBvs
	url = https://github.com/cran/mBvs
